
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.authenticate_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* logo */
.authenticate_logo {
	margin: 120px 0px 4px -60px;
	width: 398px; height: 423px;
	display: block;
}
/* signup */
#authenticate_signup {

}
.ui-btn.authenticate_signup {
	margin: 100px 150px 0px 150px;
}
/* login */
#authenticate_login {

}
.ui-btn.authenticate_login {
	margin: 40px 150px 4px 150px;
}
/* mobilefooter */
.authenticate_mobilefooter {
	min-height:38px;
}