
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.startScreen_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* logo */
.startScreen_logo {
	margin: 120px 0px 4px -60px;
	width: 398px; height: 423px;
	display: block;
}
/* mobilefooter */
.startScreen_mobilefooter {
	min-height:38px;
}