
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilelabel_1 */
.strategies_mobilelabel_1 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 36px;
	margin: 100px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecontainer */
.ui-content.strategies_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* label */
.strategies_label {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 36px;
	margin: 120px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* luggage */
#strategies_luggage {

}
.ui-btn.strategies_luggage {
	margin: 60px 150px 4px 150px;
}
/* seventytwo */
#strategies_seventytwo {

}
.ui-btn.strategies_seventytwo {
	margin: 60px 150px 4px 150px;
}
/* everyday */
#strategies_everyday {

}
.ui-btn.strategies_everyday {
	margin: 60px 150px 4px 150px;
}
/* kit */
#strategies_kit {

}
.ui-btn.strategies_kit {
	margin: 60px 150px 4px 150px;
}
/* week */
#strategies_week {

}
.ui-btn.strategies_week {
	margin: 60px 150px 4px 150px;
}
/* mobilefooter */
.strategies_mobilefooter {
	min-height:38px;
}