
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilelabel_1 */
.strategy_luggage_mobilelabel_1 {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 36px;
	margin: 100px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* mobilecontainer */
.ui-content.strategy_luggage_mobilecontainer {
	padding: 0px 0px 0px 0px;
}
/* label */
.strategy_luggage_label {
	text-decoration: none; font-weight: bold; text-align: center; font-family: Helvetica; font-size: 36px;
	margin: 120px 0px 4px 0px;
	word-wrap: break-word;
	white-space: normal;
}
/* strategy */
.strategy_luggage_strategy {
	text-decoration: none; font-weight: normal; text-align: center; font-family: Helvetica; font-size: 32px;
	margin: 60px 100px 4px 100px;
	word-wrap: break-word;
	white-space: normal;
}
/* start */
#strategy_luggage_start {

}
.ui-btn.strategy_luggage_start {
	margin: 100px 150px 4px 150px;
}
/* read */
#strategy_luggage_read {

}
.ui-btn.strategy_luggage_read {
	margin: 60px 150px 4px 150px;
}
/* mobilefooter */
.strategy_luggage_mobilefooter {
	min-height:38px;
}