
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* settings */
#mainScreen_settings {

}
.ui-btn.mainScreen_settings {

}
/* mobilecontainer1 */
.ui-content.mainScreen_mobilecontainer1 {
	padding: 15px 15px 15px 15px;
}
/* preps_block */
.mainScreen_preps_block {
	margin: 4px 8px 4px 8px;
}
.mainScreen_preps_block .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* prep_list */
.ui-page .mainScreen_prep_list {
	margin: 4px 0px 0px 0px;
}
/* prep */
/* mobilelistitembutton_39 */
.mainScreen_mobilelistitembutton_39 {

}
/* tips_block */
.mainScreen_tips_block {
	margin: 4px 8px 4px 8px;
}
.mainScreen_tips_block .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* tips */
.ui-page .mainScreen_tips {
	margin: 4px 0px 0px 0px;
}
/* tip */
/* mobilelistitembutton_33 */
.mainScreen_mobilelistitembutton_33 {

}
/* mobilecollapsblock_40 */
.mainScreen_mobilecollapsblock_40 {
	margin: 4px 8px 4px 8px;
}
.mainScreen_mobilecollapsblock_40 .ui-collapsible-content {
	padding: 10px 15px 10px 15px;
}
/* mobilefooter1 */
.mainScreen_mobilefooter1 {
	min-height:38px;
}