
/* Define default spinner */
.ui-icon-loading {
	background: url("files/resources/lib/jquerymobile/1.4.0/images/ajax-loader.gif") repeat scroll 0 0 / 46px 46px transparent!important;
}
/* mobilecontainer */
.ui-content.signinsignup_mobilecontainer {
	padding: 15px 15px 15px 15px;
}
/* spacer_2 */
.signinsignup_spacer_2 {
	width: 260px; height: 55px;
	margin: 4px 0px 4px 0px;
}
/* mobilelist_10 */
.ui-page .signinsignup_mobilelist_10 {
	margin: 4px 0px 0px 0px;
}
/* mobilelistitem_11 */
/* mobilelistitembutton_12 */
.signinsignup_mobilelistitembutton_12 {

}
/* mobilelistitem_13 */
/* mobilelistitembutton_14 */
.signinsignup_mobilelistitembutton_14 {

}
/* mobilebutton_7 */
#signinsignup_mobilebutton_7 {

}
.ui-btn.signinsignup_mobilebutton_7 {
	margin: 4px 5px 4px 5px;
}
/* spacer_4 */
.signinsignup_spacer_4 {
	width: 264px; height: 78px;
	margin: 4px 0px 4px 0px;
}
/* mobilebutton_3 */
#signinsignup_mobilebutton_3 {

}
.ui-btn.signinsignup_mobilebutton_3 {
	margin: 4px 5px 4px 5px;
}
/* mobilebutton_9 */
#signinsignup_mobilebutton_9 {

}
.ui-btn.signinsignup_mobilebutton_9 {
	margin: 4px 5px 4px 5px;
}
/* mobilefooter */
.signinsignup_mobilefooter {
	min-height:38px;
}